################################################
###       environment config file            ###
################################################
# java项目代码存放路径，一般映射在宿主机/app目录下
JAVA_CODE_PATH=/app/webapps
# php项目代码存放路径，一般映射在宿主机/app目录下
CODE_PATH=/app/www
# 各个服务软件的数据备份，比如mysql、redis等等，防止容器挂后数据不见的问题
DATA_PATH=/app/data
# 各个服务的配置,放在当前目录下每个服务目录的conf目录中
CONF_PATH=./
# 各个服务的log
LOG_PATH=/app/log

#################### ALPINE ####################
#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
#
# Alpine Repositories
ALPINE_REPOSITORIES_REPLACE=true
ALPINE_REPOSITORIES=mirrors.aliyun.com

#################### DEBIAN ####################
DEBIAN_REPOSITORIES_REPLACE=true

############# Timezone for the containers ############
TZ=Asia/Shanghai


#################### Nginx #####################
# nginx版本
NGINX_VERSION=1.17-alpine
# 开放端口
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443


############ PHP extensions #################
# PHP extensions:
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,pdo_sqlsrv,opcache,
# redis,memcached,xdebug,swoole,sodium,yaf,amqp,mongodb,
# event,rar,ast,yac,yaconf,msgpack,igbinary,seaslog,varnish,
# xhprof,xlswriter,rdkafka

#
# 上面是php一些常规的扩展，如果你需要安装，则用英文的逗号分隔填写在PHP_EXTENSIONS
# 对于此处未列出的其他扩展，您也可以安装
# 需要去sh目录修改脚本
#################### end ####################

# 支持多个版本，可以查看https://github.com/docker-library/repo-info/tree/master/repos/php/remote
# 如果你用swoole不需要php-fpm的话，可以使用7.3-cli-alpine，如果需要php-fpm则用7.3-fpm-alpine
# 不再支持5和7.0版本，如果要使用5和7.0可能会有点问题，建议使用7.2以上的版本，性能有大幅度提升，也修复了很多bug
# php官方镜像主要是根据两种系统来进行打包
# 1、alpine 2、debian
# 如果你是常规开发，没有大量用到c标准的一些动态库，建议使用alpine，反之使用debian
# 例如：使用alpine的则直接在PHP_VERSION中填写7.3-fpm-alpine，如果使用debian则为7.3-fpm
PHP_VERSION=7.3-fpm-alpine

#映射端口
PHP_HOST_PORT_9000=9000
PHP_HOST_PORT_9501=9501
PHP_HOST_PORT_9502=9502
PHP_HOST_PORT_18306=18306

# 安装更多的PHP扩展脚本，如果是alpine类型的系统，则使用apline.sh,反之使用debian.sh
PHP_MORE_EXTENSION_INSTALLER=alpine.sh
PHP_EXTENSIONS=pdo_mysql,redis,pcntl,mysqli,bcmath,sockets,sysvmsg,sysvsem,sysvshm,zip,gd,bz2,memcached,amqp,xlswriter,swoole,mongodb,xlswriter,rdkafka

# PHP的SWOOLE扩展版本,如果要更换swoole版本，请把swoole压缩包下载到php/extensions目录，并替换下面的名称
PHP_SWOOLE_VERSION=swoole-src-4.5.2.tar.gz

# 是否切换debian的源,debian的源在source目录下,如果是apline系统则不用管
PHP_REPLACE_SOURCE=true

# 安装supervisor
PHP_INSTALL_SUPERVISOR=true

#################### PHP7 支持安装多个镜像 ####################
# 支持多个版本，可以查看https://github.com/docker-library/repo-info/tree/master/repos/php/remote
# 如果你用swoole不需要php-fpm的话，可以使用7.3-cli-alpine，如果需要php-fpm则用7.3-fpm-alpine
# 不再支持5和7.0版本，如果要使用5和7.0可能会有点问题，建议使用7.2以上的版本，性能有大幅度提升，也修复了很多bug
# php官方镜像主要是根据两种系统来进行打包
# 1、alpine 2、debian
# 如果你是常规开发，没有大量用到c标准的一些动态库，建议使用alpine，反之使用debian
# 例如：使用alpine的则直接在PHP_VERSION中填写7.3-fpm-alpine，如果使用debian则为7.3-fpm
PHP7_VERSION=7.3-fpm

#映射端口
PHP7_HOST_PORT_9001=9001
PHP7_HOST_PORT_9503=9503
PHP7_HOST_PORT_9504=9504
PHP7_HOST_PORT_18307=18307

# 安装更多的PHP扩展脚本，如果是alpine类型的系统，则使用apline.sh,反之使用debian.sh
PHP7_MORE_EXTENSION_INSTALLER=debian.sh
PHP7_EXTENSIONS=pdo_mysql,redis,pcntl,mysqli,bcmath,sockets,sysvmsg,sysvsem,sysvshm,zip,gd,bz2,memcached,amqp,xlswriter,swoole,mongodb,xlswriter,rdkafka

# PHP的SWOOLE扩展版本,如果要更换swoole版本，请把swoole压缩包下载到php/extensions目录，并替换下面的名称
PHP7_SWOOLE_VERSION=swoole-src-4.5.2.tar.gz

# 是否切换debian的源,debian的源在source目录下,如果是apline系统则不用管
PHP7_REPLACE_SOURCE=true

# 安装supervisor
PHP7_INSTALL_SUPERVISOR=true

#debian系统安装阿里oss-sdk
PHP7_INSTALL_ALIYUN_OSS_SDK=false
PHP7_ALIYUN_OSS_SDK_VERSION=aliyun-oss-cpp-sdk-1.7.0.tar.gz

#################### MySQL #####################
MYSQL_VERSION=5.7
MYSQL_HOST_PORT=3306
# 生产环境请替换密码
MYSQL_ROOT_PASSWORD=123456

#################### MONGODB #####################
MONGODB_VERSION=4.2
MONGODB_HOST_PORT=27017
MONGODB_INITDB_ROOT_USERNAME=root
MONGODB_INITDB_ROOT_PASSWORD=123456

#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379

#################### RABBITMQ #####################
RABBITMQ_VERSION=management
RABBITMQ_HOST_PORT_C=5672
RABBITMQ_HOST_PORT_S=15672
RABBITMQ_DEFAULT_USER=myuser
RABBITMQ_DEFAULT_PASS=mypass

################# redisMyAdmin #################
REDISMYADMIN_VERSION=erikdubbelboer/phpredisadmin:latest
REDISMYADMIN_HOST_PORT=8081

################# nodejs #################
NODEJS_VERSION=13.2-alpine
NODEJS_HOST_PORT_3000=3000
NODEJS_HOST_PORT_8088=8088

################ openjdk #################
OPENJDK_VERSION=9
OPENJDK_HOST_PORT_8080=8080
OPENJDK_HOST_PORT_8081=8081
OPENJDK_HOST_PORT_8082=8082
OPENJDK_HOST_PORT_8083=8083
# openjdk，如果是alpine类型的系统，则使用apline.sh,反之使用debian.sh
OPENJDK_MORE_INSTALLER=debian.sh
MAVEN_VERSION=apache-maven-3.6.3-bin.tar.gz
